# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Data
data/raw/
data/processed/
*.xtc
*.trr
*.gro
*.tpr

# Models
models/


# Logs
*.log
